<div [ngStyle]="chooseColor(order?.orderTypeCode, order?.priorityName, order?.saP_CreatedDate)"
    class="order-card uk-card uk-card-default {{cssClass}} " [ngClass]="{'bordered': !order?.lat || !order?.long}">

    <label>
        <h4 class="order-number">{{order?.code}}</h4>
    </label>

    <div class="card-body margin-top-10 padding-bottom-10">
        <div class="side-column">
            <i *ngIf="order?.isExceedTime" pTooltip="Exceeding" tooltipPosition="top"
                class="fa fa-clock-o margin-bottom-2" aria-hidden="true"></i>
            <i *ngIf="order?.isRepeatedCall" pTooltip="Repeated call" tooltipPosition="top"
                class="fa fa-history margin-bottom-2" aria-hidden="true"></i>
            <i *ngIf="order?.acceptanceFlag == 2" pTooltip="Acceptance" tooltipPosition="top"
                class="fa fa-check margin-bottom-2" aria-hidden="true"></i>
            <i *ngIf="order?.acceptanceFlag == 3" [pTooltip]="order?.rejectionReason || ''" tooltipPosition="right"
                class="fa fa-close margin-bottom-2" aria-hidden="true"></i>
            <i *ngIf="order?.acceptanceFlag == 1" pTooltip="No Actions" tooltipPosition="top" class="fa fa-circle-o"
                aria-hidden="true"></i>
        </div>
        <div class="center-column margin-right-5 margin-left-5">
            <div class="wrap-text">
                <h4 class="text-center">{{order?.customerName}}</h4>
            </div>
            <h4 class="text-center margin-10 bold">{{order?.statusName}}</h4>
            <p class="text-center">
                <span *ngIf="order?.saP_AreaName"> {{order?.saP_AreaName}}</span> <br>
                <span *ngIf="order?.saP_AreaName && order?.saP_BlockName">& </span>
                <span *ngIf="order?.saP_BlockName">{{'Block No' | translate}}. {{order?.saP_BlockName}}</span>
            </p>
        </div>
        <div class="side-column">
            <button class="btn-light" (click)="openOrderProgressModal(order)" pTooltip="Progress" tooltipPosition="top">
                <i class="fa fa-tasks" aria-hidden="true"></i>
            </button>
            <button class="btn-light margin-top-2" [routerLink]="['edit-order',order?.id]"
                pTooltip="{{orderIconIsView?'View':'Edit'}}" tooltipPosition="top">
                <i [hidden]="orderIconIsView" class="fa fa-edit" aria-hidden="true"></i>
                <i [hidden]="!orderIconIsView" class="fa fa-eye"></i>
            </button>

        </div>

    </div>
</div>