<div class="padding-10">
  <div class="col-md-offset-1 col-md-10">
    <ul uk-accordion="multiple: false" class="accordion-header">
      <li *ngFor="let item of items" [ngClass]="applyDefaultActiveClass(item)">
        <h4 class="uk-accordion-title sub-title" (click)="getData(item)">{{ item }}</h4>
        <div class="uk-accordion-content">
          <app-master-data [type]="item" [getData]="getDataForType"></app-master-data>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <button class="btn btn-danger delete_button"
      (click)="deleteUserManagement()">{{'Delete User Management' | translate}}</button>
    <button class="btn btn-danger delete_button"
      (click)="deleteDispatcherSettings()">{{'Delete Dispatcher Settings' | translate}}
    </button>
    <button class="btn btn-danger delete_button" (click)="deleteAllOrders()">{{'Delete Orders' | translate}}</button>
  </div>
</div>