<div class="notification-transparent-background" [ngClass]="notificationBackgroundClass"
  (click)="toggleNotificationBody()"></div>

<nav class="navbar navbar-default whiteBackground">
  <div class="container-fluid d-flex">
    <div class="navbar-header">
      <img class="logoIcon" src="assets/Images/logo.png" />
    </div>

    <div *ngIf="isLoggedin">

      <ul class="nav navbar-nav" *ngIf="role === 'Supervisor'">
        <a routerLinkActive="active-nav" [routerLink]="['/supervisor/board']" class="header-anchor">
          {{'Supervisor Order Board' | translate}}
        </a>
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/supervisor/dispatcher/']" class="header-anchor">
          {{'Dispatcher Board' | translate}}
        </a>
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/supervisor/order-management-report/']" class="header-anchor">
          {{'Order Management' | translate}}
        </a>
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/supervisor/orders-reassignment']" class="header-anchor">{{'Order Re-Assignment' | translate}}
        </a>
      </ul>

      <ul class="nav navbar-nav" *ngIf="role === 'Dispatcher'">
        <a routerLinkActive="active-nav" [routerLink]="['/dispatcher/board']"
          class="header-anchor">{{'Orders Board' | translate}}
        </a>
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav" [routerLink]="['/dispatcher/map']"
          class="header-anchor">{{'Map Board' | translate}}
        </a>
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/dispatcher/printout']" class="header-anchor">{{'Printout' | translate}}
        </a>
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/dispatcher/orders-reassignment']" class="header-anchor">{{'Order Re-Assignment' | translate}}
        </a>
      </ul>

      <ul class="nav navbar-nav" *ngIf="role === 'Admin'">
        <a class="header-anchor" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/admin/master-data']">
          <i class="fa fa-desktop"></i>
          {{'Master Data' | translate}}
        </a>
        <a class="header-anchor" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/admin/user-management']">
          <i class="fa fa-user"></i>
          {{'Users Management' | translate}}
        </a>
        <a class="header-anchor" routerLinkActive="active-nav" [routerLink]="['/admin/team-management']">
          <i class="fa fa-users"></i>
          {{'Team Management' | translate}}
        </a>
        <a class="header-anchor" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/admin/dispatcher-settings']">
          <i class="fa fa-street-view"></i>
          {{'Dispatchers Settings' | translate}}
        </a>
        <a class="header-anchor" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/admin/timesheet']">

          <i class="fa fa-calendar"></i>
          {{'Time Sheet' | translate}}
        </a>
        <a class="header-anchor" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-nav"
          [routerLink]="['/admin/map-settings']">

          <i class="fa fa-map-marker"></i>
          {{'Map Settings' | translate}}
        </a>
      </ul>
    </div>

    <div class="RightPart" *ngIf="authenticationService.isLoggedIn()">

      <img class="Avatar" src="assets/Images/user.png" [matMenuTriggerFor]="menu" />
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="profile()">{{'Profile' | translate}}</button>
        <button mat-menu-item (click)="LogoutAll()">{{'Logout' | translate}}</button>
      </mat-menu>

      <div class="notification-section">
        <button class="notification-btn" [ngClass]="toggelingNotificationIconClass" (click)="toggleNotificationBody()">
          <i class="fa fa-bell-o bell"></i>
          <div class="flex-notification" [hidden]="!sharedNotificationService.notificationCount">
            <span class="font-size-11">{{sharedNotificationService.notificationCount}}</span>
            <!-- <i class="fa fa-circle dot"></i> -->
          </div>
        </button>
        <div [hidden]="!toggleNotification" [ngClass]="{'rtl-notification-body': translateService.currentLang == 'ar' }"
          class="notification-main-container notification-body uk-padding-small uk-animation-slide-top-small">
          <div *ngFor="let notification of notifications;let i =index" (click)="onNotificationClick(notification, i)"
            class="pointer" [ngClass]="notification.className">
            <p class="notification-content">{{notification.body}}</p>

            <div class="d-flex notification-container">
              <small>{{notification.createdDate | date:'yyyy-MM-dd hh:mm:ss a': '+0600' }}</small>
              <div class="approval-box"
                *ngIf="notification.notificationType === 'Change order priority' && !(notification.isActionTaken)">
                <i class="fa" pTooltip="{{'approve' | translate}}" tooltipPosition="top" hideDelay="200"
                  (click)="onApproveRequest($event,notification,i,true)">&#xf058;</i>
                <i class="fa" pTooltip="{{'disapprove' | translate}}" tooltipPosition="top" hideDelay="200"
                  (click)="onApproveRequest($event,notification,i,false)">&#xf057;</i>
              </div>
            </div>
            <hr>
          </div>
          <div [hidden]="!notifications.length" class="footer-notification-center">
            <p class="show-all" (click)="onMarkAllAsRead()">{{'Mark All Read' | translate}}</p>
            <p class="show-all" [routerLink]="['dispatcher/notifications']" (click)="toggleNotificationBody()">
              {{'Show All' | translate}}</p>
          </div>         
          <p-progressSpinner class="loading-spinner" *ngIf="isloading"></p-progressSpinner>
          <p *ngIf="!notifications.length && !isloading" >{{'No notifications available' | translate}}</p>
        </div>
      </div>

      <div class="AfterLogin">
        <span class="nameLogged">{{'Welcome' | translate}} , {{authenticationService.CurrentUser().data.name}} </span>
        <br />
        <button class="LogOut" (click)="LogoutAll()"
          [ngClass]="{'disabled':finishLoggingOut}">{{'Log Out' | translate}}</button>
      </div>
    </div>

  </div>
</nav>