<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>




<div class="container">
  <h3 class="page-title no-padding">
    <ng-container *ngIf="CurrentUserHasDispatcherRole; else notDispatcher">
      {{'Edit Order' | translate}}
    </ng-container>
    <ng-template #notDispatcher>
      {{'View Order' | translate}}
    </ng-template>
  </h3>
</div>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container edit-order-container uk-card uk-card-default">

  <div class="row margin-bottom-10">
    <div class="col-md-12">
      <div class="clickable" routerLink="../..">
        <i class="fa fa-arrow-left dark-color"></i>
        <span class="margin-left-5 dark-color">{{'Back' | translate}}</span>
      </div>
    </div>
  </div>

  <form class="margin-top-25" (ngSubmit)="onSubmit();" #editOrderForm="ngForm">

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Customer No' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="customerNo" [(ngModel)]="orderDetails.customerCode">
      </div>
      <div class="col-md-2">
        <label>{{'Customer Tel. 1' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="phone1" [(ngModel)]="orderDetails.phoneOne">
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Customer Name' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="customerName" [(ngModel)]="orderDetails.customerName">
      </div>
      <div class="col-md-2">
        <label>{{'Customer Tel. 2' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" name="phone2" [(ngModel)]="orderDetails.phoneTwo"
          appInputRestriction="integer" [appInputRestrictionMaxLength]='10'>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label for="callerID">{{'Caller ID' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="callerID" [(ngModel)]="orderDetails.caller_ID">
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Contract No' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="contractCode" [(ngModel)]="orderDetails.contractCode">
      </div>
      <div class="col-md-2">
        <label>{{'Created date' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="contractStartDate"
          [ngModel]="orderDetails.contractStartDate | date:'dd/MM/yyyy'">
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Contract Type' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="contractTypeName" [(ngModel)]="orderDetails.contractTypeName">
      </div>
      <div class="col-md-2">
        <label>{{'Expiration Date' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="contractExpiryDate"
          [ngModel]="orderDetails.contractExpiryDate | date:'dd/MM/yyyy'">
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div *ngIf="!togglePaciLoading">
      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP PACI' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="saP_PACI" [(ngModel)]="orderDetails.saP_PACI">
        </div>
        <div class="col-md-2">
          <label>{{'PACI' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input appInputRestriction="integer" type="number" class="form-control" (keyup)="getLoctionByPaci()"
            name="paci" [(ngModel)]="orderDetails.paci">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Governorate' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="saP_GovName" [(ngModel)]="orderDetails.saP_GovName">
        </div>
        <div class="col-md-2">
          <label>{{'Governorate' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="govName" [(ngModel)]="orderDetails.govName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Area' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="saP_AreaName" [(ngModel)]="orderDetails.saP_AreaName">
        </div>
        <div class="col-md-2">
          <label>{{'Area' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="areaName" [(ngModel)]="orderDetails.areaName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Block' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="saP_BlockName" [(ngModel)]="orderDetails.saP_BlockName">
        </div>
        <div class="col-md-2">
          <label>{{'Block' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="blockName" [(ngModel)]="orderDetails.blockName">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Street' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="saP_StreetName" [(ngModel)]="orderDetails.saP_StreetName">
        </div>
        <div class="col-md-2">
          <label>{{'Street' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="streetName" [(ngModel)]="orderDetails.streetName">
        </div>
      </div>


      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Building' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="saP_Building" [(ngModel)]="orderDetails.saP_HouseKasima">
        </div>
        <div class="col-md-2">
          <label>{{'Building' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="Building" [(ngModel)]="orderDetails.houseKasima">
        </div>
      </div>

      <div class="row margin-bottom-10">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Floor' | translate}}</label>
        </div>

        <div class="col-md-3">

          <input appInputRestriction="integer" type="number" class="form-control" name="saP_Floor"
            [(ngModel)]="orderDetails.saP_Floor" (input)="onInputChange($event.target.value)">
        </div>
        <div class="col-md-2">
          <label>{{'Floor' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="floor" [(ngModel)]="orderDetails.floor">
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <label>{{'SAP Apartment' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input appInputRestriction="integer" type="number" class="form-control" name="saP_AppartmentNo"
            [(ngModel)]="orderDetails.saP_AppartmentNo" (input)="onInputChange($event.target.value)">
        </div>
        <div class="col-md-2">
          <label>{{'Apartment' | translate}}</label>
        </div>
        <div class="col-md-3">
          <input disabled class="form-control" name="appartmentNo" [(ngModel)]="orderDetails.appartmentNo">
        </div>
      </div>

      <div class="row margin-top-10">
        <div class="col-md-offset-6 col-md-5">
          <a (click)="onOpenMap()">{{'Open Google Map' | translate}} ...</a>
        </div>
      </div>
    </div>

    <div *ngIf="togglePaciLoading" class="row">
      <div class="col-md-12">
        <p class="text-center">{{'Getting Location' | translate}}...</p>
        <p-progressSpinner class="loading-spinner"></p-progressSpinner>
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Functional Location' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="functionalLocation" [(ngModel)]="orderDetails.functionalLocation">
      </div>
      <div class="col-md-2">
        <label>{{'Address Note' | translate}}</label>
      </div>
      <div class="col-md-3">
        <textarea name="addressNote" [(ngModel)]="orderDetails.addressNote" class="form-control"
          (input)="onInputChange($event.target.value)"></textarea>
      </div>
    </div>

    <div class="row margin-top-20">
      <div class="col-md-offset-1 col-md-10">
        <hr />
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Order No' | translate}}</label>
      </div>
      <div class="col-md-3">
        <input disabled class="form-control" name="code" [(ngModel)]="orderDetails.code">
      </div>
      <div class="col-md-2">
        <label>{{'Priority' | translate}}</label>
      </div>
      <div class="col-md-3">
        <select name="priorityId" [(ngModel)]="orderDetails.priorityId" class="form-control">
          <option *ngFor="let priority of allPriorities" [value]="priority?.id">{{priority?.name}}</option>
        </select>
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Order Type' | translate}}</label>
      </div>
      <div class="col-md-3">
        <select name="typeId" [(ngModel)]="orderDetails.typeId" class="form-control">
          <option *ngFor="let type of allTypes" [value]="type?.id">{{type?.name}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label>{{'Status' | translate}}</label>
      </div>
      <div class="col-md-3">
        <select name="statusId" [(ngModel)]="orderDetails.statusId" class="form-control"
          (change)="onStatusChange(orderDetails)">
          <option *ngFor="let status of allStatus" [value]="status?.id">{{status?.name}}</option>
        </select>
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-2">
        <label>{{'Company Code' | translate}}</label>
      </div>
      <div class="col-md-3">
        <select name="companyCodeId" [(ngModel)]="orderDetails.companyCodeName" class="form-control">
          <option *ngFor="let companyCode of allCompanyCode" [value]="companyCode?.code">{{companyCode?.code}}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <label>{{'Problem' | translate}}</label>
      </div>
      <div class="col-md-3">
        <select name="problemId" [(ngModel)]="orderDetails.problemId" class="form-control">
          <option *ngFor="let problem of allProblem" [value]="problem?.id">{{problem?.name}}</option>
        </select>
      </div>
    </div>

    <div class="row margin-bottom-10">
      <div class="col-md-offset-1 col-md-5">
        <div>
          <div class="col-md-5 no-padding">
            <label>{{'Division' | translate}}</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <select name="divisionId" [(ngModel)]="orderDetails.divisionId" class="form-control">
              <option *ngFor="let division of allDivisions" [value]="division?.id">{{division?.name}}
              </option>
            </select>
          </div>
        </div>
        <div>
          <div class="col-md-5 no-padding">
            <label>{{'Dispatcher notes' | translate}}</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <textarea name="dispatcherNote" [(ngModel)]="orderDetails.dispatcherNote" class="form-control"
              (input)="onInputChange($event.target.value)"></textarea>
          </div>
        </div>
        <div>
          <div class="col-md-5 no-padding">
            <label>{{'Created date' | translate}}</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <input disabled class="form-control" name="createdDate"
              [ngModel]="orderDetails.saP_CreatedDate | date:'dd/MM/yyy'">
          </div>
        </div>
        <div>
          <div class="col-md-5 no-padding">
            <label>{{'Created Time' | translate}}</label>
          </div>
          <div class="col-md-7 no-padding margin-bottom-10">
            <input disabled class="form-control" name="createdTime"
              [ngModel]="orderDetails.saP_CreatedDate | date:'hh:mm:ss a'">
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-2">
          <label>{{'IC Agent notes' | translate}}</label>
        </div>
        <div class="col-md-3">
          <textarea disabled class="form-control">{{orderDetails.icAgentNote}}</textarea>
        </div>
      </div>
      <div>
        <div class="col-md-2 margin-top-10">
          <label>{{'Order Description' | translate}}</label>
        </div>
        <div class="col-md-3">
          <textarea disabled class="form-control margin-top-10">{{orderDetails.orderDescription}}</textarea>
        </div>
      </div>
    </div>

    <div class="margin-top-35">
      <div class="full-width text-right">
        <button type="button" (click)="!CurrentUserHasSupervisorRole && checkTosaveOrderEdits()"
          [disabled]="togglePaciLoading || !editOrderForm.dirty" class="btn btn-dark"
          [hidden]="CurrentUserHasSupervisorRole">{{'Save' | translate}}</button>
        <button type="button" (click)="editOrderForm.valid && checkTosaveOrderEditsAndGoBack()"
          [disabled]="togglePaciLoading || !editOrderForm.dirty" class="btn btn-dark save-go-back"
          [hidden]="CurrentUserHasSupervisorRole">{{'Save And Go Back' | translate}}</button>
        <button type="button" class="btn btn-dark" routerLink="../..">{{'Close' | translate}}</button>
      </div>
    </div>
  </form>
</div>


<div id="overlay" class="google-map-container" [hidden]="!show_map">
  <div id="googleMapContainer">
    <div id="customModalHeader">
      {{'Location on Google Map'  | translate}}
    </div>
    <br>
    <div class="form-group">
      <input id="txtsearchinput" placeholder="{{'search for location' | translate}}" (keydown)="onKeyDown($event)"
        autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search
        [formControl]="searchControl">
    </div>
    <div class="map-container">
      <agm-map [fullscreenControl]="true" [latitude]="lat" [longitude]="long" [zoom]="zoom" [disableDefaultUI]="false"
        [mapTypeId]="mapView" [zoomControl]="true" (mapClick)="placeMarker($event)">

        <agm-marker *ngIf="(orderDetails.lat != false) && (orderDetails.long != false)" [latitude]="lat"
          [visible]="true" [iconUrl]="orderDetails?.pin" [longitude]="long" [markerDraggable]="false">
          <agm-info-window>
            <strong>{{'Order Number' | translate}} : {{orderDetails?.code}}</strong>
            <br>
            <strong>{{'Customer Name' | translate}} : {{orderDetails?.customerName}}</strong>
            <br>
            <strong>{{'Order Priority' | translate}} : {{orderDetails?.priorityName}}</strong>
            <br>
            <strong>{{'Order Status' | translate}} : {{orderDetails?.statusName}}</strong>
            <br>
            <strong>{{'Order Type' | translate}} : {{orderDetails?.typeName}}</strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <div class="map-icon" (click)='onToggleMap()'>
        <img class="toggle-map" [ngClass]="{'black-boards':mapView== 'satellite'}"
          [src]="mapView=='roadmap'?'/assets/Images/satellite.PNG':'/assets/Images/map.PNG'"
          alt="toggle-map-view">
      </div>
    </div>

    <br>
    <div id="customModalFooter">
      <button [disabled]="disableButtonsInMap" class="btn btn-dark pull-left" (click)="checkTosaveOrderEdits()"
        type="button" [hidden]="CurrentUserHasSupervisorRole">
        {{'save' | translate}}
      </button>
      <button [disabled]="disableButtonsInMap" class="btn btn-dark pull-left" (click)="checkTosaveOrderEditsAndGoBack()"
        type="button" [hidden]="CurrentUserHasSupervisorRole">
        {{'save & go back' | translate}}
      </button>
      <button class="btn btn-dark pull-right" (click)="closeModalAndResetMap()"
        type="button">{{'Cancel' | translate}}</button>
    </div>
  </div>
</div>

<div class="pop-up" *ngIf="showChangeSubStatusPopUp">
  <div class="pop-container">

    <p-progressSpinner class="loading-spinner" [hidden]="!loadingPopUp"></p-progressSpinner>
    <form #editStatusForm="ngForm">
      <div class="col-md-12 margin-top-10">
        <div class="col-md-5 no-padding flex-label-container">
          <label class="label">{{'Select SubStatus' | translate}}*</label>
        </div>
        <div class="col-md-7 no-padding">
          <select [ngClass]="{'red-border': showError && !orderDetails?.subStatusId }" name="subStatusId"
            [(ngModel)]="orderDetails.subStatusId" class="form-control" required>
            <option *ngFor="let subStatus of subStatuses" [value]="subStatus?.id">{{subStatus?.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-12 margin-top-10">
        <div class="col-md-5 no-padding flex-label-container">
          <label class="label">{{'Survey Report' | translate}}*</label>
        </div>
        <div class="col-md-7 no-padding">
          <textarea [ngClass]="{'red-border': showError && !orderDetails?.serveyReport }" name="servey" id="servey"
            cols="30" rows="10" [(ngModel)]="orderDetails.serveyReport" class="form-control" required></textarea>
        </div>
      </div>


      <div class="col-md-12 margin-top-10">
        <button class="btn btn-danger" (click)="onCancelChangeStatus()"
          [disabled]="toggleLoading">{{'cancel' | translate}}</button>
        <button class="btn btn-primary" (click)="checkToChangeStatus()" [hidden]="CurrentUserHasSupervisorRole"
          [disabled]=" !editStatusForm.valid || !orderDetails?.subStatusId || toggleLoading">{{'Save' | translate}}</button>
        <button class=" btn btn-primary" (click)="checkToSaveStatusAndGoBack()" [hidden]="CurrentUserHasSupervisorRole"
          [disabled]="!editStatusForm.valid || !orderDetails?.subStatusId || toggleLoading">{{'Save And Go Back' | translate}}</button>
      </div>


    </form>
  </div>
</div>