<div class="uk-card uk-card-default">
  <div class="container-fluid uk-animation-fade">
    <div class="flex-container full-width tab-container">
      <div class="tab" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['add']">
        <i class="fa fa-plus"></i>
        {{'Add Team' | translate}}
      </div>
      <div class="tab" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['update']">
        <i class="fa fa-edit"></i>
        {{'Update Team' | translate}}
      </div>
      <div class="tab" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['vehicle']">
        <i class="fa fa-car"></i>
        {{'Vehicles' | translate}}
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>