$container-height: 600px;

.overlayer {
  position: fixed;
  width: 100%;
  height: 85%;
  z-index: 99999999;
  display: -ms-flexbox;
  display: flex;
  top: 68px;
  opacity: 0.9;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-icon-container {
  display: flex;
  justify-content: flex-end;
}

.spinner-container {
  margin: auto;
}

.dispatcher-order-container {
  min-height: $container-height;

  h4 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
  }
}

.filter-container {
  position: relative;
  z-index: 1;
}

.unassigned-orders-section {
  height: $container-height;
  box-sizing: content-box;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.orders-overflow-container {
  height: calc(100% - 42px);

  .unassigned-orders-container {
    height: 100%;
    overflow-y: auto;
  }

  .unassigned-order-header {
    height: 40px;
    border: 1px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #013093;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    h4 {
      color: white;
      margin-bottom: 0;
    }
  }
}

.assigned-orders-section {
  height: $container-height;
  width: 83.3%;
  padding: 0px 10px;
}

.technican-overflow-container {
  overflow: scroll;
  border: 1px solid transparent;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: hidden;

  .single-tec {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;

    .tec-header {
      background-color: #013093;
      transition: 0.5s all;
      justify-content: flex-start;
      display: flex;
      width: 100%;

      h4 {
        background-color: #013093;
        color: white;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.5s all;
        width: 200px;
      }
    }

    .single-tec-overflow {
      overflow-y: auto;
      width: 200px;
      border: 1px solid #013093;
      height: calc(100% - 55px);
      text-align: center;
      transition: 0.5s all;
      background-color: #f8f8f8;
    }
  }

  .single-tec:first-child {
    display: inline;
    margin-right: 10px;
    margin-left: 0;
  }
}

.flex-container {
  display: flex;
}

.full-height {
  height: 100%;
}

.flex-team {
  margin: 2px;
  display: flex;
  flex-direction: column;
}

.foreman-name {
  margin-bottom: 5px;
  height: 40px;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 98%;
  }
}

.container {
  margin-right: 15px;
  margin-left: 15px;
}

.filter-form-section {
  margin: 0 10px !important;
}

table,
tr,
th,
td {
  border: none;
  text-align: left;
  background-color: transparent;
  padding: 02px !important;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.disable-drag {
  cursor: not-allowed !important;
}

:host {
  white-space: nowrap;

  * {
    line-height: 1em;
  }
}

.wrap-text {
  line-height: 1em;
  height: auto;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.wrap-text h4 {
  color: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  z-index: 2000;
  height: auto;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.red-bg {
  background-color: #bb0000 !important;
}

.p-0-10 {
  padding: 0px 10px;
}

.p-0 {
  padding: 0px;
}

.no-drop {
  cursor: no-drop !important;
}

.m-20 {
  margin: 20px;
}

.teams-container {
  height: calc(100% - 41px);
}

.flex-team>.tec-header {
  justify-content: center;
  height: 50px;
}

.d-flex {
  display: flex;
}

.dispatcher-title {
  margin: 15px 0px;
}

.card-margin {
  margin: 0.5em;
}

.app-order-card {
  cursor: not-allowed !important;
}

// .bordered {
//   cursor: not-allowed !important;
// }