h4 {
  text-transform: capitalize;
  font-size: 1.15em;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

h4:hover {
  cursor: pointer;
  border-bottom: 1px solid blueviolet;
}


* {
  cursor: default;
}

.header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  padding: 03px 10px;
}

.btn-li {
  margin-top: 18px;
}

li {
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-form-section {
  width: 20%;
  padding: 5px;
}

.filter-container {
  display: flex;
}

.btn-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  button {
    margin: 5px;
  }
}