<!-- <div class="row" *ngIf="type == 'Area'">
  <div class="text-right col-md-4 col-md-offset-8">
    <input type="text" name="searchInput"   (blur)="searchInLoadedArea($event)" />
  </div>
</div> -->

<div class="row">

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="5" class="material">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

       <!-- 
         Area Section
         Area No Column  
       -->
      <ngx-datatable-column [width]='100' prop="area_No" name="{{'Area No' | translate}}" *ngIf="type == 'Area'">
      </ngx-datatable-column>

       <!-- 
         -- This Column Appears in most sections Except Area, Attendance Status, Cost Center and Shift.
         -- Code Column
        -->
      <ngx-datatable-column [width]='100' prop="code" name="{{'code' | translate}}"
        *ngIf="type == 'Idle Types' || type == 'Order Status'|| type == 'Break Types'|| type == 'Complete Sub-Status Types'||
        type == 'On-Hold Sub-Status Types'||type == 'Order Cancellation Reasons' || type == 'Problems' || type == 'Building Types' 
        || type == 'Company Code' ||type == 'Contract Type' || type == 'Division' || type == 'On-Hold Sub-Status Types' 
        || type == 'Complete Sub-Status Types' || type == 'Order Cancellation Reasons'|| type === 'Languages'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div title="{{'unable to change this value' | translate}}"
            *ngIf="type == 'Order Status' || type == 'Division'">
            {{value}}
          </div>
          <div title="{{'Double click to edit' | translate}}" (dblclick)="editing[rowIndex + '-code'] = true"
            *ngIf="type != 'Order Status' && type != 'Division' && !editing[rowIndex + '-code'] && value">
            {{value}}
          </div>
          <input (blur)="updateValue($event, 'code', rowIndex); editing[rowIndex+ '-code'] = false;"
            *ngIf="editing[rowIndex+ '-code'] || !value" type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>

     <!--
       -- Languages Columns.
      -->
      <!-- strat order status  -->
      <div *ngIf="(type == 'Area' || 'Attendance Status' || 'Availability'||'Idle Types'||'Order Status'
      ||'Break Types'||'Complete Sub-Status Types'||'On-Hold Sub-Status Types'||'Order Cancellation Reasons')">

        <!-- generated columns by languages sent from server -->
        <ngx-datatable-column [name]="col.key" [prop]="col.key"
          *ngFor="let col of masterDataService.languageArray; let i = index;" [name]="col.key" [prop]="col.key">
          <ng-template ngx-datatable-header-template>
            {{ col.key }}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
            <div title="{{'unable to change this value' | translate}}"
              *ngIf="(type == 'Order Status' || type == 'Division' ) && col.key == 'English'">
              {{value}}
            </div>
            <div title="{{'Double click to edit' | translate}}" (dblclick)="editing[rowIndex + ' ' + i] = true"
              *ngIf="!editing[rowIndex + ' ' + i] && !(value && (type == 'Order Status' || type == 'Division' ) && col.key == 'English')">
              {{value}}
            </div>
            <input (blur)="updateLanguageValue($event, i, rowIndex); editing[rowIndex + ' ' + i] = false;"
              *ngIf="editing[rowIndex + ' ' + i] || !value" type="text" [value]="value" />
          </ng-template>
        </ngx-datatable-column>

      </div>
      <!-- end order status  -->

      <!--
         -- this Column Appreas in Sections, Cost Center and Languages
         -- Name Column
      -->

      <div *ngIf="(type === 'Cost Center' || type === 'Languages')">
        <ngx-datatable-column [width]='100' prop="name" name="{{'Name' | translate}}">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div title="Double click to edit" (dblclick)="editing[rowIndex + '-Name'] = true"
              *ngIf="!editing[rowIndex + '-Name'] && value">
              {{value}}
            </div>
            <input (blur)="updateValue($event, 'name', rowIndex); editing[rowIndex+ '-Name'] = false;"
              *ngIf="editing[rowIndex+ '-Name'] || !value" type="text" [value]="value" />
          </ng-template>
        </ngx-datatable-column>
      </div>

      <!---
       -- This appears only in Shift Section
        -- FromTime Column
       -->
      <ngx-datatable-column [width]='100' prop="fromTime" name="{{'From Time' | translate}}" *ngIf="type == 'Shift'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div class="from-time" #fromTime>
            <p-calendar  readonlyInput="true"  [panelStyleClass]="translateService.currentLang == 'en' ? '':'rtl-panel'" [autoZIndex]="true"
              [baseZIndex]="9999" [showIcon]=" true" [appendTo]="fromTime" timeOnly="true" showTime="true"
              hourFormat="12" [ngModel]="value" (onInput)="updateShift($event, 'fromTime', rowIndex)"
              (onSelect)="updateShift($event, 'fromTime', rowIndex)">
            </p-calendar>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!---
       -- This appears only in Shift Section
        -- toTime Column
       -->
      <ngx-datatable-column [width]='100' prop="toTime" name="{{'To time' | translate}}" *ngIf="type == 'Shift'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div class="to-time" #toTime>
            <p-calendar readonlyInput="true" [panelStyleClass]="translateService.currentLang == 'en' ? '':'rtl-panel'" [autoZIndex]="true"
              [baseZIndex]="9999" [showIcon]=" true" [appendTo]="toTime" timeOnly="true" showTime="true" hourFormat="12"
              [ngModel]="value" (onInput)="updateShift($event, 'toTime', rowIndex)"
              (onSelect)="updateShift($event, 'toTime', rowIndex)">
            </p-calendar>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!---
       -- This appears only in Problems Section
        -- exceedHours Column
       -->
      <ngx-datatable-column [width]='100' prop="exceedHours" name="{{'exceedHours' | translate}}"
        *ngIf="type == 'Problems'">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div title="{{'Double click to edit' | translate}}" (dblclick)="editing[rowIndex + '-exceedHours'] = true"
            *ngIf="!editing[rowIndex + '-exceedHours'] && value">
            {{value}}
          </div>
          <input (blur)="updateValue($event, 'exceedHours', rowIndex); editing[rowIndex+ '-exceedHours'] = false;"
            *ngIf="editing[rowIndex+ '-exceedHours'] || !value" type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>

       <!---
       -- This appears only in all Section
        -- Save Button
       -->
      <ngx-datatable-column prop="id" name="{{'Save' | translate}}">
        <ng-template let-row="row" let-value="id" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <div [pTooltip]="row.isDeleted ? 'restore item to save':null" tooltipPosition="top" showDelay="100"
            hideDelay="500">
            <button class="btn btn-success" (click)="save(row, rowIndex)"
              [disabled]="!row.updated || saving['saving'+rowIndex] == true || row.isDeleted">
              <i class="fa fa-save"
                *ngIf="saving['saving'+rowIndex] == undefined || saving['saving'+rowIndex] == false"></i>
              <img *ngIf="saving['saving' + rowIndex] == true"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>

         <!---
       -- This appears only in all Section
        -- Block  Button or UnBlock button
       -->
      <ngx-datatable-column prop="id" name="{{'Block' | translate}}">
        <ng-template let-row="row" let-row="row" let-rowIndex="rowIndex" let-value="id" ngx-datatable-cell-template>
          <!-- don't be confused from using the same function in block and unblock buttons as it is handled in the backend logic -->
          <button *ngIf="row.isDeleted == false" class="btn btn-danger" pTooltip="Item is available! Click To Block"
            tooltipPosition="top" showDelay="100" hideDelay="500" (click)="block(row, 'block', rowIndex);">
            <i class="fa fa-trash"
              *ngIf="(editing[rowIndex + '-isDeleted'] == undefined) || (editing[rowIndex + '-isDeleted'] == false)"
              aria-hidden="true"></i>
            <img *ngIf="editing[rowIndex + '-isDeleted'] == true"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </button>
          <button *ngIf="row.isDeleted == true" class="btn btn-primary"
            pTooltip="{{'Item is blocked! Click To Unblock' | translate}}" tooltipPosition="top" showDelay="100"
            hideDelay="500" (click)="block(row, 'unblock', rowIndex);">
            <i class="fa fa-undo"
              *ngIf="(editing[rowIndex + '-isDeleted'] == undefined) || (editing[rowIndex + '-isDeleted'] == false)"
              aria-hidden="true"></i>
            <img *ngIf="editing[rowIndex + '-isDeleted'] == true"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>




<div class="row" [hidden]="toggleLoading" *ngIf="type != 'Division' && type != 'Order Status'">
  <div class="text-right col-md-4 col-md-offset-8 add-button">
    <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> {{'Add' | translate}}
      {{ type }}</button>
  </div>
</div>

<p-toast position="center" key="blockItem" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <p>{{message.summary}}</p>
      <!-- <p>{{message.detail}}</p> -->
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton [disabled]="isBlocking" (click)="action(message.data)" autofocus
          label="{{'Yes' | translate}}" class="ui-button-danger"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton [disabled]="isBlocking" (click)="onReject()" label="{{'No' | translate}}"
          class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>