label {
    display: block;
}

.form-group {
    padding: 10px 15px;
    flex: 1 0 20%;
    max-width: 20%;
}

input {
    font-size: 14px;
    padding: 0.429em;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
}

.section-container,
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.button-container {
    justify-content: center;
}

.radioButtonLabel {
    margin-right: 20px;
}

:host>>>.ui-multiselect-label-container {
    width: 193.98px;
    padding: 0;
}

:host>>>p-radiobutton,
:host>>>p-checkbox {
    margin-right: 10px;
}

.button-container button {
    width: 200px;
    margin: 05px;
}

.radioButtonContainer p-radioButton {
    display: block;
    margin-bottom: 10px;
}

input {
    border: none;
    outline: none !important;
    height: 40px;
    width: 100%;
}

.radioButtonContainer {
    width: 100%;
    max-width: 100%;
}

.flex-1 {
    flex: 1;
}