<div class="row">
    <div class="col-md-12 filter-icon-container">
        <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade"
            *ngIf="!currentFilteViewFlag" (click)="chnageFilerFlag(true)" data-toggle="tooltip" data-placement="top"
            title="Expand Filter">
            <i *ngIf="!currentFilteViewFlag" class="fa fa-sort-down"></i>
            <i *ngIf="currentFilteViewFlag" class="fa fa-filter"></i>
        </button>
        <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="currentFilteViewFlag" data-toggle="tooltip"
            data-placement="top" title="Collapse Filter" (click)="chnageFilerFlag(false)"></i>
    </div>
</div>

<div class="row uk-animation-slide-top-small filter-container" [hidden]="!currentFilteViewFlag">
    <form #filterForm="ngForm" (submit)="applyFilter(filterForm)">
        <div class="section-container">
            <div class="form-group">
                <label for="createdDateFrom">{{'Created Date From' | translate}} <span
                        class="text-danger">*</span></label>
                <p-calendar id="createdDateFrom" name="createdDateFrom" showTime="true" hourFormat="12"
                    [(ngModel)]="filterObj.dateFrom" required="true" dateFormat="dd-mm-yy" [maxDate]="filterObj.dateTo"
                    hideOnDateTimeSelect="true">
                </p-calendar>
            </div>

            <div class="form-group">
                <label for="createdDateTo">{{'Created Date To' | translate}} <span class="text-danger">*</span></label>
                <p-calendar id="createdDateTo" name="createdDateTo" showTime="true" hourFormat="12"
                    [(ngModel)]="filterObj.dateTo" required="true" dateFormat="dd-mm-yy" [minDate]="filterObj.dateFrom"
                    hideOnDateTimeSelect="true">
                </p-calendar>
            </div>

            <div class="form-group">
                <label for="customerId">{{'Customer ID' | translate}}</label>
                <input appInputRestriction="integer" type="number" id="customerId" name="customerId"
                    [(ngModel)]="filterObj.customerCode" (keypress)="patternPreventSpecialCharacter($event)">
            </div>

            <div class="form-group">
                <label for="orderId">{{'Order ID' | translate}}</label>
                <input appInputRestriction="integer" type="number" id="orderId" name="orderId"
                    [(ngModel)]="filterObj.orderId" (keypress)="patternPreventSpecialCharacter($event)">
            </div>

            <div class="form-group">
                <label for="orderStatus">{{'Order Status' | translate}}</label>
                <p-multiSelect [options]="orderStatuses" id="orderStatus" name="orderStatus"
                    [disabled]="orderStatuses.length==0" [(ngModel)]="filterObj.statusId" [filter]="true" itemSize="30"
                    [virtualScroll]="true" maxSelectedLabels="2">
                </p-multiSelect>
            </div>

            <div class="form-group">
                <label for="problemType">{{'Problem Type' | translate}}</label>
                <p-multiSelect [options]="problemTypes" [disabled]="problemTypes.length == 0" id="problemType"
                    [virtualScroll]="true" name="problemType" [(ngModel)]="filterObj.problemId" [filter]="true"
                    itemSize="30" maxSelectedLabels="2">
                </p-multiSelect>
            </div>

            <div class="form-group">
                <label for="orderType">{{'Order Type' | translate}}</label>
                <p-multiSelect [options]="orderTypes" [disabled]="orderTypes.length == 0" id="orderType"
                    name="orderType" [(ngModel)]="filterObj.orderTypeId" [filter]="true" itemSize="30"
                    [virtualScroll]="true" maxSelectedLabels="2">
                </p-multiSelect>
            </div>

            <div class="form-group">
                <label for="area">{{'Area' | translate}}</label>
                <p-multiSelect [options]="areas" [disabled]="areas.length == 0" id="area" [virtualScroll]="true"
                    name="area" [(ngModel)]="filterObj.areaId" [filter]="true" itemSize="30" maxSelectedLabels="2">
                </p-multiSelect>
            </div>

            <div class="form-group">
                <label for="technician">{{'Technician' | translate}}</label>
                <p-multiSelect [options]="technicians"
                    [disabled]="technicians.length == 0 || !(filterObj.includeProgressData && progressType == 'allProgress')"
                    [virtualScroll]="true" id="technician" name="technician" (onChange)="onChangeTechs($event);"
                    [(ngModel)]="selectedtechs" [filter]="true" itemSize="30" maxSelectedLabels="2"></p-multiSelect>
            </div>

            <div class="form-group">
                <label for="dispatcher">{{'Dispatcher' | translate}}</label>
                <p-multiSelect [options]="dispatchers" [disabled]="dispatchers.length == 0"
                    placeholder="Choose Dispatcher" id="dispatcher" name="dispatcher"
                    [(ngModel)]="filterObj.dispatcherId" [filter]="true" itemSize="30" [virtualScroll]="true"
                    maxSelectedLabels="2">
                </p-multiSelect>
            </div>

            <div class="form-group">
                <label for="division">{{'Division' | translate}}</label>
                <p-multiSelect [options]="divisions" [disabled]="divisions.length == 0" id="division" name="division"
                    [(ngModel)]="filterObj.divisionId" [filter]="true" itemSize="30" [virtualScroll]="true"
                    maxSelectedLabels="2">
                </p-multiSelect>
            </div>

            <div class="form-group">
                <label for="companyCode">{{'Company Code' | translate}}</label>
                <p-multiSelect [options]="companyCodes" [disabled]="companyCodes.length == 0" id="companyCode"
                    name="companyCode" [(ngModel)]="filterObj.companyCode" [filter]="true" itemSize="30"
                    [virtualScroll]="true" maxSelectedLabels="2">
                </p-multiSelect>
            </div>
        </div>
        <div class="section-container">
            <div class="form-group radioButtonContainer">
                <p-checkbox label="{{'Include progress data' | translate}}" name="includeProgressData" value="true"
                    binary="true" [(ngModel)]="filterObj.includeProgressData" (click)="onClickIncludeProgressData()">
                </p-checkbox>
            </div>
        </div>



        <div class="row" *ngIf="filterObj.includeProgressData == true">
            <div class="col-sm-2">
                <p-radioButton (click)="onClickIncludeProgressData()" label="{{'Show All Progress' | translate}}"
                    name="progressType" value="allProgress" [(ngModel)]="progressType">
                </p-radioButton>
            </div>
            <div class="col-sm-3">
                <p-radioButton (click)="onClickIncludeProgressData()" label="{{'Show Last Progress Only' | translate}}"
                    name="progressType" value="lastProgress" [(ngModel)]="progressType">
                </p-radioButton>
            </div>
            <div class="col-sm-3">
                <p-radioButton (click)="onClickIncludeProgressData()"
                    label="{{'Show Progress – “On-hold” only' | translate}}" name="progressType" value="onHoldOnly"
                    [(ngModel)]="progressType"></p-radioButton>
            </div>
            <div class="col-sm-4">
                <p-radioButton (click)="onClickIncludeProgressData()"
                    label="{{'Show Progress – “On-hold” and last progress' | translate}}" name="progressType"
                    value="onHoldLastProgress" [(ngModel)]="progressType"></p-radioButton>
            </div>
            <!-- <div class="col-sm-8">col-sm-8</div>
            <div class="col-sm-4">col-sm-4</div> -->
        </div>
        <div class="section-container">
            <div class="button-container flex-1">
                <div class="flex-1">
                    <button class="btn btn-primary" type="submit"
                        [disabled]="filterForm.invalid || isLoading">{{'Filter' | translate}}
                        <i [hidden]="!isLoading" class="fa fa-spinner fa-pulse"></i>
                    </button>
                    <button class="btn btn-light" type="button" (click)="resetFilter()">{{'Reset' | translate}}</button>
                </div>
                <button class="btn btn-dark" type="button" [disabled]="filterForm.invalid || isExporting"
                    (click)="exportFile()">{{'export'| translate}}
                    <i [hidden]="!isExporting" class="fa fa-spinner fa-pulse"></i></button>
            </div>
        </div>

    </form>
</div>