<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading && !isLoading"></p-progressSpinner>


<div [hidden]="toggleLoading">
  <ngx-datatable class="material expandable" [rows]="vehicles" [columns]="columns" [loadingIndicator]="isLoading"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="5">
    <ngx-datatable-column prop="plate_no" name="{{'Plate Number' | translate}}">
      <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <div class="vehicle">
          <span title="{{'Double click to edit' | translate}}" (dblclick)="editing[rowIndex + '-plate_no'] = true"
            *ngIf="!editing[rowIndex + '-plate_no'] && value">
            {{value}}
          </span>
          <input autofocus (blur)="updateValue($event, 'plate_no', rowIndex); editing[rowIndex + '-plate_no'] = false"
            *ngIf="editing[rowIndex+ '-plate_no']" type="text" [value]="value" />
          <input autofocus (blur)="updateValue($event, 'plate_no', rowIndex); editing[rowIndex + '-plate_no'] = false"
            *ngIf="!value" type="text" [value]="" />
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="isassigned" name="{{'Assigned' | translate}}">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <i class="fa fa-check" *ngIf="value"></i>
        <i class="fa fa-remove" *ngIf="!value"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]='50' prop="id" name="{{'Save' | translate}}">
      <ng-template let-row="row" let-value="id" let-index=rowIndex ngx-datatable-cell-template>
        <button class="btn btn-success" (click)="save(row,index)" [disabled]="!row.plate_no || !row.updated">
          <i class="fa fa-save"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div class="row">
    <div class="col-md-3 col-md-offset-9 add-button">
      <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i>
        {{'Add Vehicle' | translate}}</button>
    </div>
  </div>
</div>