/* line 1, order-filter.component.scss */
:host>* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 14px;
}

.filter-form {
    width: 99%;
    padding-top: 5px;
    background-color: #f5faff;
}

/* line 4, order-filter.component.scss */
.filter-form .filter-form-section {
    /* height: 85px; */
    width: 20%;
}

/* line 9, order-filter.component.scss */
.filter-form .buttons-container {
    display: flex;
    justify-content: flex-end;
    flex: 3 0 60%;
}

/* line 11, order-filter.component.scss */
.filter-form .buttons-container .btn {
    margin-right: 10px;
    margin-left: 10px;
}

/* line 15, order-filter.component.scss */
.filter-form label {
    display: block;
}

/* line 21, order-filter.component.scss */
/* .beforeFilterTemp ~ .filter-form {
    width: 83%;
} */

/* line 23, order-filter.component.scss */
.beforeFilterTemp~.filter-form .sections-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.beforeFilterTemp~.filter-form .sections-container .filter-form-section {
    padding: 0 10px;
}

/* line 34, order-filter.component.scss */
.beforeFilterTemp~.filter-form .sections-container .filter-form-section:last-child label {
    display: inline;
}

/* line 40, order-filter.component.scss */
.beforeFilterTemp~.filter-form .buttons-container {
    display: flex;
    /*width: 300px;*/
}

/* line 44, order-filter.component.scss */
.beforeFilterTemp~.filter-form .buttons-container .report-button {
    width: auto;
}

/* line 47, order-filter.component.scss */
.beforeFilterTemp~.filter-form .buttons-container button {
    margin-right: 10px;
    margin-left: 10px;
    justify-self: flex-end;
    /*flex-grow: 1;*/
}

input {
    border: none !important;
    font-size: 18px;
    color: #013093;
}

input::placeholder {
    color: #013093;
    opacity: 0.7;
}

:host>>>.ui-multiselect,
:host>>>.ui-dropdown,
:host>>>.ui-calendar,
:host>>>.ui-calendar>.ui-inputtext {
    border: none !important;
    border-radius: 2px;
    color: #013093;
    display: flex;
    width: 100%;
}

:host>>>.ui-dropdown>.ui-inputtext,
:host>>>.ui-calendar>.ui-inputtext,
:host>>>.ui-calendar>.ui-inputtext::placeholder,
:host>>>.ui-calendar>.ui-inputtext,
:host>>>.ui-multiselect-label {
    color: #013093 !important;
    opacity: 0.7;
    font-size: 18px;
}

:host>>>.ui-calendar-button {
    background-color: #ffffff !important;
    color: #013093 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    height: 40px;
    font-size: 20px;
}



:host>>>.ui-calendar>.ui-inputtext {
    opacity: 1;
}

:host>>>.ui-calendar>.ui-inputtext {
    /* background-color: #f5faff; */
    color: #013093;
    font-size: 18px;
}

:host>>>.ui-datepicker {
    top: 35px !important;
}

.full-opacity {
    opacity: 1 !important;
}

.d-flex {
    display: flex;
}

.drop-down-container {
    flex: 2 0 40%;
    flex-wrap: wrap;
}

.drop-down-container>.filter-form-section {
    width: 50%;
}

/* line 51, order-filter.component.scss */
/* .beforeFilterTemp ~ .filter-form .buttons-container button:first-child { */
/*background-color: #66cc00;*/
/*border-color: #66cc00;*/
/* } */