<div class="container">
  <div class="row">
    <h3>{{'Add Vehicle' | translate}}</h3>
    <label for="plate-number">{{'Plate Number' | translate}}</label>
    <input id="plate-number" class="form-control" type="text" size="30" pInputText [(ngModel)]="plateNo" disable-spaces
      autofocus>
    <button class="btn btn-primary full-width submit-btn" (click)="onSubmit()"
      [disabled]="!plateNo">{{'Submit' | translate}}</button>
  </div>

</div>