<div class="uk-card uk-card-default">
  <div class="container-fluid uk-animation-fade">
    <ul class="list-group list-inline list-unstyled">
      <li>
        <label for="datefrom"> {{'Date from' | translate}}*</label>
        <p-calendar hideOnDateTimeSelect="true" id="createdDateFrom" name="createdDateFrom" showTime="true"
          hourFormat="12" placeholder="{{'Date from' | translate}}" [(ngModel)]="timeObj.dateFrom" required="true"
          dateFormat="dd-mm-yy" [maxDate]="timeObj.dateTo">
        </p-calendar>
      </li>

      <li>
        <label for="dateto"> {{'Date To' | translate}}*</label>
        <p-calendar hideOnDateTimeSelect="true" id="createdDateFrom" name="createdDateFrom" showTime="true"
          hourFormat="12" placeholder="{{'Date To' | translate}}" [(ngModel)]="timeObj.dateTo" required="true"
          dateFormat="dd-mm-yy" [minDate]="timeObj.dateFrom">
        </p-calendar>
      </li>


      <li>
        <label for="PF"> {{'Personnel Number' | translate}} </label>
        <input class="form-control input-sm input-item" id="PF" type="number" appInputRestriction="integer"
          placeholder="{{'Personnel Number' | translate}}" [(ngModel)]="timeObj.pfNo">
      </li>


      <li>
        <label for="CostCenter"> {{'Cost Center' | translate}} </label>
        <p-dropdown [disabled]="costCenters.length == 0" (onChange)="onSelectCostCenter($event)"
          [(ngModel)]="SelectedCostCenter" placeholder="Cost Center" [options]="costCenters" [filter]="false"
          optionLabel="name" filterBy="label" id="CostCenter"></p-dropdown>
      </li>
    </ul>
    <div class="btn-container">
      <button class="btn btn-primary" [disabled]="loadingIndicator" (click)="onChangePageSize()">{{'Show' | translate}}</button>
      <button class="btn btn-primary" (click)="onReset()">{{'Reset' | translate}}</button>
      <button class="btn btn-primary" [disabled]="loadingIndicator" (click)="onExport()">{{'Export' | translate}}</button>
    </div>
    <hr>

    <div class="report-table-container">
      <div class="loader" *ngIf="loadingIndicator">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <ngx-datatable  #timeSheetReportTable (page)='onChangePageNumber($event)' [count]="totalCount" class="material expandable" [rows]="rows"  [offset]="curPage" [columns]="[]" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
        <ngx-datatable-column [width]='100' prop="data_Entry_Profile" name="{{'Data Entry Profile' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="key_Date" name="{{'Key Date' | translate}} ">
          <!-- <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date :'dd-MM-yyyy'}}
          </ng-template> -->
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="personal_Number" name="{{'Personnel Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="activity_Type" name="{{'Activity Type' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="cost_Center" name="{{'Cost Center' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="sales_Order_Number" name="{{'Sales Order Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="sales_Order_Item_Number"
          name="{{'Sales Order Item Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="order_Number" name="{{'Order Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="network" name="{{'Network' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="operation" name="{{'Operation' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="sub_Operation" name="{{'Sub Operation' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="attendance_or_activity_type"
          name="{{'Attendance or Activity Type' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="hours" name="{{'Hours'|translate}}">
          <!-- <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | HoursMinutesSeconds }}
          </ng-template> -->
        </ngx-datatable-column>




        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template >
            <div class="page-count">
              {{totalCount}}
              <span>Total</span>
            </div>
    
            <div class="page-size">
              <span>{{'size' | translate}}</span>
              <div class="p-container">
                <!-- <div #pageSizeContainer class="p-container"> 
                <p-dropdown [appendTo]="body" name="pageSize" [options]="pageLimitOptions" [(ngModel)]="pageSize"
                  (onChange)="onChangePageSize()" [style]="{minWidth:'100%'}">
                </p-dropdown> -->
                <select name="pageSize" id="pageSize" (change)="onChangePageSize()" [(ngModel)]="pageSize">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
              [size]="pageSize" [count]="totalCount" (change)="onChangePageNumber($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>


      </ngx-datatable>
    </div>



  </div>
</div>