<div class="management-report-table-container">
  <div class="loader" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ngx-datatable #managemenetReportTable class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]=""
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [offset]="page.pageNo"
    [count]="count" (page)='setPage($event)' [externalPaging]="true" [limit]="pageSize">

    <ngx-datatable-column [sortable]="false" prop="orderCode" name="{{'Order ID' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="createdDate" name="{{'Created Date' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="createdDate" name="{{'Created time' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'hh:mm a'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="status" name="{{'Current Order Status' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="orderType" name="{{'Order Type' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="dispatcherNotes" name="{{'Dispatcher Notes' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div *ngIf="row.dispatcherNotes">
          <span *ngIf="!row.dispatcherNotesMore">
            {{row.dispatcherNotes  | slice : 0 : 15}}
          </span>
          <button *ngIf="row.dispatcherNotes.length > 15 && !row.dispatcherNotesMore" class="show-more"
            (click)="row.dispatcherNotesMore=true">{{'Show More' | translate}}...</button>
          <span *ngIf="row.dispatcherNotesMore">
            {{ row.dispatcherNotes }}
          </span>
          <button *ngIf="row.dispatcherNotes.length > 15 && row.dispatcherNotesMore" class="show-more"
            (click)="row.dispatcherNotesMore=false;">{{'Show Less' | translate}}...</button>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="icAgentNotes" name="{{'IC agent notes' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div *ngIf="row.icAgentNotes">
          <span *ngIf="!row.icAgentNotesMore">
            {{row.icAgentNotes  | slice : 0 : 15}}
          </span>
          <button *ngIf="row.icAgentNotes.length > 15 && !row.icAgentNotesMore" class="show-more"
            (click)="row.icAgentNotesMore=true">{{'Show More' | translate}}...</button>
          <span *ngIf="row.icAgentNotesMore">
            {{ row.icAgentNotes }}
          </span>
          <button *ngIf="row.icAgentNotes.length > 15 && row.icAgentNotesMore" class="show-more"
            (click)="row.icAgentNotesMore=false;">{{'Show Less' | translate}}...</button>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="orderDesc" name="{{'Order description' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div *ngIf="row.orderDesc">
          <span *ngIf="!row.orderDescMore">
            {{row.orderDesc  | slice : 0 : 15}}
          </span>
          <button *ngIf="row.orderDesc.length > 15 && !row.orderDescMore" class="show-more"
            (click)="row.orderDescMore=true">{{'Show More' | translate}}...</button>
          <span *ngIf="row.orderDescMore">
            {{ row.orderDesc }}
          </span>
          <button *ngIf="row.orderDesc.length > 15 && row.orderDescMore" class="show-more"
            (click)="row.orderDescMore=false;">{{'Show Less' | translate}}...</button>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="problemType" name="{{'Problem Type' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="division" name="{{'Division' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="supervisor" name="{{'Current Supervisor Name' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="dispatcher" name="{{'Current Dispatcher' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="foreMan" name="{{'Current Foreman Name' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="technician" name="{{'Current Technician' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="companyCode" name="{{'Company code' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="customerID" name="{{'Customer ID' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="customerFirstPhone" name="{{'Customer Tel 1' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="customerSecondPhone" name="{{'Customer Tel 2' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="customerCallerPhone" name="{{'Customer Caller Phone' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="functionalLocation" name="{{'Functional Location' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="paciNum" name="{{'PACI No.' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="govName" name="{{'PACI Governorate' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="area" name="{{'SAP Area' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="street" name="{{'SAP Street' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="block" name="{{'SAP Block' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="sapBuilding" name="{{'SAP Building' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="sapFloor" name="{{'SAP Floor' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="sapApartmentNo" name="{{'SAP Apartment' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="contractNo" name="{{'Contract Number' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="contractType" name="{{'Contract Type' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="contractCreationDate"
      name="{{'Contract Creation Date' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="contractExpirationDate"
      name="{{'Contract Expiration Date' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [sortable]="false" prop="closedDate" name="{{'Closed date' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'dd-MM-yyyy' : '+0600' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" prop="closedDate" name="{{'Closed time' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'hh:mm a' : '+0600' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="progressDate"
      name="{{'Progress Date (History)' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'dd-MM-yyyy' : '+0600'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="progressDate"
      name="{{'Progress Time (History)' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date :'hh:mm a' : '+0600'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="executer"
      name="{{'Executor (History)' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="actionTypeName"
      name="{{'Action Type Name (History)' | translate}}">
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="progressStatus"
      name="{{'Progress Status (History)' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="progressSubStatus"
      name="{{'Progress Sub status (History)' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="technicianName"
      name="{{'Technician name (History)' | translate}}"></ngx-datatable-column>

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="dispatcherName"
      name="{{'Dispatcher name (History)' | translate}}"></ngx-datatable-column>
    <!-- 
    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="supervisorName"
      name="{{'Supervisor Name (History)' | translate}}">
    </ngx-datatable-column> 
    -->

    <ngx-datatable-column *ngIf="filterObj.includeProgressData == true" [sortable]="false" prop="technicianNotes"
      name="{{'Survey Report (History)' | translate}}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div *ngIf="row.technicianNotes">
          <span *ngIf="!row.technicianNotesMore">
            {{row.technicianNotes  | slice : 0 : 15}}
          </span>
          <button *ngIf="row.technicianNotes.length > 15 && !row.technicianNotesMore" class="show-more"
            (click)="row.technicianNotesMore=true">{{'Show More' | translate}}...</button>
          <span *ngIf="row.technicianNotesMore">
            {{ row.technicianNotes }}
          </span>
          <button *ngIf="row.technicianNotes.length > 15 && row.technicianNotesMore" class="show-more"
            (click)="row.technicianNotesMore=false;">{{'Show Less' | translate}}...</button>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-footerPageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          {{rowCount.toLocaleString()}}
          <span>Total</span>
        </div>

        <div class="page-size">
          <span>{{'size' | translate}}</span>
          <div class="p-container">
            <!-- <div #pageSizeContainer class="p-container"> 
            <p-dropdown [appendTo]="body" name="pageSize" [options]="pageLimitOptions" [(ngModel)]="pageSize"
              (onChange)="onChangePageSize()" [style]="{minWidth:'100%'}">
            </p-dropdown> -->
            <select name="pageSize" id="pageSize" (change)="onChangePageSize()" [(ngModel)]="pageSize">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>

        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
          [size]="footerPageSize" [count]="rowCount" (change)="managemenetReportTable.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>