<p-progressSpinner class="loading-spinner" *ngIf="isLoading"></p-progressSpinner>

<div class="flex-main-container">

  <!-- <div class="flex-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Dropmenus</div>
      <div class="modal-body">


      </div>
    </div>
  </div> -->

  <div class="flex-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">{{'Unassigned Team Members' | translate}}</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" disable-spaces placeholder="{{'PF' | translate}}.." name="search" [(ngModel)]="PF">
          <i class="fa fa-undo" [pTooltip]="'Reset Search'" tooltipPosition="top"
            (click)="!isLoading && resetPFAndGetUnassignedMembers()" *ngIf="PF"></i>
          <i class="fa fa-search" [pTooltip]="!PF ? 'no Personnel Number to search':'Search'" tooltipPosition="top"
            (click)="!isLoading && PF && onTechSearch()" [ngClass]="{'disabled':!PF}"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="no-items-container">
          <p class="no-items-paragraph" *ngIf="!unassignedMembers.length && !divisionObj?.name && !isLoading">
            {{'please select division to show members' | translate}}
          </p>
          <p class="no-items-paragraph" *ngIf="!unassignedMembers.length && divisionObj?.name && !isLoading">
            {{'no members are found in this division' | translate}}
          </p>
        </div>
        <div class="panel-body group-handle" *ngFor="let tech of unassignedMembers; let i = index;">
          <div class="panel panel-default member-container">
            <div class="panel-body">
              <div class="flex-container plus-container">
                <i class="fa fa-car" *ngIf="tech.isDriver"></i>
                <i class="fa fa-wrench" *ngIf="!tech.isDriver"></i>
                <div>
                  <span><b> {{'name' | translate}}: </b> {{tech.fullName}}</span><br>
                  <span><b> {{'PF' | translate}}: </b> {{tech.pf}}</span><br>
                </div>
                <div class="flex-1 flex-end">
                  <i class="fa fa-plus" (click)="addTech(tech , i);"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="flex-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">{{'Unassigned Vehicles' | translate}}</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" disable-spaces placeholder="{{'Plate Number' | translate}}.." name="search"
            [(ngModel)]="plateNo">
          <i class="fa fa-undo" [pTooltip]="'Reset Search'" tooltipPosition="top" (click)="onResetVehicleSearch()"
            *ngIf="plateNo"></i>
          <i class="fa fa-search" [pTooltip]="!plateNo ? 'no Plate Number to search':'Search'" tooltipPosition="top"
            [ngClass]="{'disabled':!plateNo}" (click)="plateNo && onVehicleSearch()"></i>
        </div>
      </div>
      <!-- <h1>{{isLoading}}</h1> -->

      <div class="scroll-container">
        <div class="panel-body group-handle" *ngFor="let vehicle of unassignedVehicles; let i = index;">
          <div class="panel panel-default member-container">
            <div class="panel-body">
              <div class="flex-container">
                <span><b> {{'Plate Number' | translate}}: </b> {{vehicle.memberParentName}}</span>
                <div class="flex-1 flex-end">
                  <i class="fa fa-plus" (click)="assignVehicle(vehicle , i);"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container">
    <form #addForm="ngForm" class="form-add">
      <div class="panel panel-primary Unassigned-Container selected-Team-main-container">
        <div class="panel-heading"> Selected Members</div>
        <div class="fields-container">
          <div class="form-group">
            <label>Name :</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="userObj.name"
              placeholder="{{'Select Team Member' | translate}}" disable-spaces required />
            <div style="text-align: center; margin-top: 10px">
            </div>
          </div>

          <div class="form-group">
            <label>Division</label>
            <select class="form-control" name="divisionObj" [(ngModel)]="divisionObj" required
              (change)="onChangeDivision(divisionObj.id)" [disabled]="disableChangeDivision">
              <option [ngValue]="d" *ngFor="let d of divisions" [selected]="d.name === divisionObj.name">{{d.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Forman</label>
            <select class="form-control" name="formanObj" [(ngModel)]="formanObj" required>
              <option [ngValue]="f" *ngFor="let f of formans" [selected]="f.name === formanObj.name">{{f.fullName}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Shift</label>
            <select class="form-control" name="shiftObj" [(ngModel)]="shiftObj" required>
              <option [ngValue]="s" *ngFor="let s of shifts" [selected]="s.id === shiftObj.id">
                {{s.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Availability</label>
            <select class="form-control" name="availabilityObj" [(ngModel)]="availabilityObj" required>
              <option [ngValue]="av" *ngFor="let av of availabilities" [selected]="av.id === availabilityObj.id">
                {{av.name}}</option>
            </select>
          </div>

        </div>
        <div class="scroll-container selected-memebers-container">
          <div class="panel-body group-handle" *ngIf="currentTeam.vehicle">
            <div class="panel panel-default member-container">
              <div class="panel-body">
                <div class="flex-container plus-container">
                  <div>
                    <span><b> Plate Number: </b> {{currentTeam.vehicle.memberParentName}}</span>
                  </div>
                  <div class="flex-1 flex-end">
                    <i class="fa fa-remove" (click)="removeVehicle(currentTeam.vehicle);"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body group-handle" *ngIf="currentTeam.driver">
            <div class="panel panel-default member-container">
              <div class="panel-body">
                <div class="flex-container plus-container">
                  <i class="fa fa-car"></i>
                  <div>
                    <span><b> name: </b> {{currentTeam.driver.fullName}}</span><br>
                    <span><b> PF: </b> {{currentTeam.driver.pf}}</span><br>
                  </div>
                  <div class="flex-1 flex-end">
                    <i class="fa fa-check-square" *ngIf="currentTeam.driver.isDefault"></i>
                      <!-- *ngIf="userObj.name ==  (currentTeam.driver.memberName + ' - ' + currentTeam.driver.memberPhone) || userObj.name ==  currentTeam.driver.memberName" -->
                    <i class="fa fa-square-o" *ngIf="!currentTeam.driver.isDefault" (click)="setMemberAsDefault(currentTeam.driver);"></i>
                      <!-- *ngIf="userObj.name !=  (currentTeam.driver.memberName + ' - ' + currentTeam.driver.memberPhone) && userObj.name != currentTeam.driver.memberName" -->
                      
                    <i class="fa fa-remove" (click)="removeDriver(currentTeam.driver);">
                    </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body group-handle" *ngFor="let member of currentTeam.members; let i = index;">
            <div class="panel panel-default member-container">
              <div class="panel-body">
                <div class="flex-container plus-container">
                  <i class="fa fa-wrench"></i>
                  <div>
                    <span><b> name: </b> {{member.fullName}}</span><br>
                    <span><b> PF: </b> {{member.pf}}</span><br>
                  </div>
                  <div class="flex-1 flex-end">
                    <i class="fa fa-check-square" *ngIf="member.isDefault"></i>
                      <!-- *ngIf="(userObj.name == member.memberName + ' - ' + member.memberPhone) || userObj.name == member.memberName" -->
                    <i class="fa fa-square-o" *ngIf="!member.isDefault"  (click)="setMemberAsDefault(member);"></i>
                    <!-- *ngIf="userObj.name != member.memberName + ' - ' + member.memberPhone && userObj.name != member.memberName" -->
                     
                    <i class="fa fa-remove" (click)="removeTeamMember(member, i);"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="full-width submit-container">
          <button class="full-width submit-button" (click)="onSubmit()"
            [disabled]="(!currentTeam?.members.length  || !addForm.valid)">Submit</button>
        </div>

      </div>

    </form>
  </div>