.BackStat {
  width: 100vw;
  height: 85vh;
  background-color: rgb(248, 248, 248);
}

.loginForm {
  background-color: white;
  margin-top: 65px;
  border-radius: 2px;
}

.alertMsgs {
  margin-top: 20px;
}

:host()>>>.ui-dropdown {
  min-width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.question-div {
  margin-top: -25px;
}

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  min-height: 500px;
}

.container-fluid {
  position: relative;
  z-index: 100;
}

.host {
  color: #02466b;
}

.host-r {
  border-bottom: 2px solid #02466b;
  padding: 5px;
}


::ng-deep.red-snackbar {
  background: #840000 !important;
}