body{
    direction: ltr;
}
div form, .sidenav, .notification-section .notification-body{
    text-align: right;
}
.loading-spinner {
    margin-top: 50px !important;
    position: relative !important;
    top: 50% !important;
    left: 45% !important;
  }
 .loading-spinner .ui-progress-spinner {
    margin-top: 75px !important;
  }
  .loading-spinner .ui-progress-spinner .ui-progress-spinner-svg {
    width: 100% !important;
  }
.BackImg{
    padding-top: 1%;
}
.sidenav a span{
    float:right;
}
.tabsDiv{
    direction: rtl;
    padding-right: 2% !important;
}
.uk-accordion-title::after {
    float: left !important;
}
.fa{
    float: right !important;
    margin: 2%;
}
.modal-header .close{
    float: left;
}
.modal-title{
    float: right;
}
.dateForm1{
    direction:ltr;
    margin-right:5% !important;
}
.dateForm2{
    direction:ltr;
    margin-right:18px !important;
}

body .ui-messages.ui-messages-info .ui-messages-close{
    margin-top: 10px;
    margin-right: 90%;
}
body .ui-messages.ui-messages-info .ui-messages-icon{
    float: right;
}
.ui-messages ul{
    /* margin-right: 100px !important; */
    margin-left: 30% !important;
}
.search-section .search-form .cancel-button{
    width: 100px;
}
.uk-card.uk-card-default{
    text-align: right;
}